---
- name: Ensure user groups exists
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop: "{{ user_groups }}"

  # add user to docker and the media/users/docker gropus
- name: Add user to groups
  ansible.builtin.user:
    name: "{{ user_name }}"
    password: "{{ user_passwd | password_hash('sha512') }}"
    home: "{{ user_home }}"
    groups: "{{ users_map.keys() | list | union(user_groups) }}"
    append: true
    shell: "{{ user_shell }}"
    update_password: on_create
  become: true
  become_user: root

- name: Hush login
  ansible.builtin.file:
    path: "{{ user_home }}/.hushlogin"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    access_time: preserve
    modification_time: preserve
    mode: "0644"
    state: touch

- name: Allow passwordless sudo
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ user_name }}"
    content: "{{ user_name }} ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
  when: user_nopasswd_sudo
  become: true
