[Match]
Name=eth86

[Network]
Address={{ ip_addr }}
Gateway={{ ip_addr | ipaddr('address') | regex_replace('(\.\d+)$', '.1') }}
DNS={{ dns1 }}
DNS={{ dns2 }}
