---
- name: Install restic
  ansible.builtin.package:
    name: restic
    state: present

- name: Ensure known_hosts
  ansible.builtin.known_hosts:
    name: "{{ backup_host }}"
    key: "{{ backup_host }} {{ backup_host_key }}"
    path: "{{ ansible_env.HOME }}/.ssh/known_hosts"
    state: present

- name: Ensure {{ confdir }}
  ansible.builtin.file:
    path: "{{ confdir }}"
    owner: "{{ user_name }}"
    group: media
    mode: "0750"
    state: directory

- name: Restore from cloud
  ansible.builtin.command:
    cmd: "restic -r {{ backup_repo }} restore latest:{{ confdir }} --target {{ confdir }}"
    creates: "{{ confdir }}/docker-compose.yaml"
    stdin: "{{ backup_passwd }}"

- name: Ensure cron service is up
  ansible.builtin.service:
    name: cron
    state: started
    enabled: true

- name: Add backup job
  ansible.builtin.cron:
    name: weekly backups
    minute: "0"
    hour: "0"
    day: "*"
    month: "*"
    weekday: "1"
    job: >
      {{ confdir }}/docker-backup &&
      curl -fsS -m 10 --retry 5 -o /dev/null https://healthchecks.yaneko.net/ping/Ww46tNyjuhhr9MInNIxIPw/cron-docker-backup

# - name: Pull docker images
#   community.docker.docker_compose_v2:
#     project_src: "{{ confdir }}"
#     pull: missing
#     state: absent
