---
- name: Ensure .ssh in {{ user_home }}
  ansible.builtin.file:
    path: "{{ user_home }}/.ssh"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: '0700'

- name: Add SSH public key to authorized_keys
  ansible.posix.authorized_key:
    user: "{{ user_name }}"
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
    state: present

- name: Copy private SSH key
  when: ssh_copy_private_key
  ansible.builtin.copy:
    content: "{{ ssh_private_key }}"
    dest: "{{ user_home }}/.ssh/id_ed25519"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: '0600'
