---
- name: Install packages
  ansible.builtin.package:
    name:
      - stow
      - git
      - git-secret
      - git-secrets
    state: present
  become: true
  become_user: root

- name: Ensure github.com is in known_hosts
  ansible.builtin.known_hosts:
    name: github.com
    key: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    path: "{{ user_home }}/.ssh/known_hosts"
    state: present

- name: Clone config repo
  ansible.builtin.git:
    repo: '{{ user_git }}'
    dest: "{{ user_conf }}"
    version: master
    update: false
  notify:
    - Stow config
    - Reset files adopted by stow
