---
- name: Install Postfix and SASL modules
  ansible.builtin.package:
    name:
      - postfix
      - libsasl2-modules
    state: present

- name: Template Postfix main.cf
  ansible.builtin.template:
    src: templates/main.cf
    dest: /etc/postfix/main.cf
    mode: '0644'
    backup: true
  notify: Reload postfix

- name: Template SASL password file
  ansible.builtin.template:
    src: templates/sasl_passwd
    dest: /etc/postfix/sasl_passwd
    owner: root
    group: root
    mode: '0600'
  register: sasl_file
  notify: Postmap sasl_passwd

- name: Template sender canonical maps
  ansible.builtin.template:
    src: templates/sender_canonical
    dest: /etc/postfix/sender_canonical
    mode: '0644'
  register: canonical_file
  notify: Postmap sender_canonical

- name: Check if aliases.db exists
  ansible.builtin.stat:
    path: /etc/aliases.db
  register: aliases

- name: Run newaliases
  ansible.builtin.command: newaliases
  when: not aliases.stat.exists
  changed_when: not aliases.stat.exists
  notify: Reload postfix

- name: Ensure Postfix is running
  ansible.builtin.service:
    name: postfix
    state: started
    enabled: true
