---
- name: Install Postfix and SASL modules
  ansible.builtin.package:
    name:
      - postfix
      - libsasl2-modules
      - sasl2-bin
    state: present

- name: Template Postfix main.cf
  ansible.builtin.template:
    src: templates/main.cf
    dest: /etc/postfix/main.cf
    mode: '0644'
    backup: true
  notify: Reload postfix

- name: Template SASL password file
  ansible.builtin.template:
    src: templates/sasl_passwd
    dest: /etc/postfix/sasl_passwd
    owner: root
    group: root
    mode: '0600'
  register: sasl_file
  notify: Postmap sasl_passwd

- name: Template sender canonical maps
  ansible.builtin.template:
    src: templates/sender_canonical
    dest: /etc/postfix/sender_canonical
    mode: '0644'
  register: canonical_file
  notify: Postmap sender_canonical

- name: Check if aliases.db exists
  ansible.builtin.stat:
    path: /etc/aliases.db
  register: aliases

- name: Run newaliases
  ansible.builtin.command: newaliases
  when: not aliases.stat.exists
  changed_when: not aliases.stat.exists
  notify: Reload postfix

- name: Ensure Postfix is running
  ansible.builtin.service:
    name: postfix
    state: started
    enabled: true

# sasl
- name: Create Postfix SASL directory
  ansible.builtin.file:
    path: /etc/postfix/sasl
    state: directory
    mode: '0755'

- name: Template smtpd.conf
  ansible.builtin.template:
    src: templates/sasl/smtpd.conf
    dest: /etc/postfix/sasl/smtpd.conf
    mode: '0644'
  notify: Restart saslauthd

- name: Configure saslauthd defaults (Enable Service)
  ansible.builtin.lineinfile:
    path: /etc/default/saslauthd
    regexp: '^START='
    line: 'START=yes'
  notify: Restart saslauthd

- name: Ensure saslauthd is started and enabled
  ansible.builtin.service:
    name: saslauthd
    state: started
    enabled: true
