---
- name: Install gpg
  ansible.builtin.package:
    name: gpg
    state: present

- name: Import private GPG key
  ansible.builtin.command:
    cmd: "gpg --batch --import"
    stdin: "{{ gpg_secret_key }}"
  register: gpg_out
  changed_when: "'imported: 1' in gpg_out.stderr"
  become_user: "{{ item }}"
  with_items:
    - "{{ user_name }}"
    - root

- name: Deploy authget
  ansible.builtin.template:
    src: templates/authget.j2
    dest: /usr/bin/authget
    owner: root
    group: root
    mode: '0755'
