---
- name: Install wireguard
  ansible.builtin.package:
    name:
      - wireguard
      - iptables
    state: present

- name: Template wireguard tunnel
  ansible.builtin.template:
    src: "templates/{{ group_names[0] }}.conf"
    dest: "/etc/wireguard/wg0.conf"
    owner: root
    group: root
    mode: "0600"
    backup: true
  notify: Reload wireguard tunnel

- name: Ensure wireguard tunnel is up
  ansible.builtin.service:
    name: "wg-quick@wg0"
    state: started
    enabled: true

- name: Enable ipv4 forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    state: present
    reload: true
